@import "../styles/variable.scss";

//google font
 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,600;0,700;0,800;1,400&display=swap");
 //Navbar
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 1.9;
    
    // color: #ffffff;
}

//NAVBAR
img.logo-home{
  width: 40px;

}


// span.navbar-toggler-icon {
//   background-color: white !important;
// }
button.navbar-toggler.collapsed {
  background-color: white ;
}
button.navbar-toggler {
  background-color: white;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: #fff!important;
  z-index: 999;
  box-shadow: 0px 2px 4px rgba(60, 59, 59, 0.25);

  
}
a.nav-link.text-lgt.pe-4.cursor-pointer {
  color: #000000;
  cursor: pointer;
}
.navbar-nav .nav-link.active {
  color: rgb(30 115 190) !important;
}
section {
	place-items: center;
	height: 100vh;
  background-color: #fff;


}
#home{
  background-color: #204362;
}
.container h1{ color: white;}
img.profile-image{
height: 200px;
width: 200px;;

    margin: auto;
    display: flex;
    
    // border: 3px solid #cdd4b7;
    border-radius: 50%;
    
}

.btn-primary{

    background-color: $secondaryColor;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: auto;
    
    
}
.btn-primary a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;

}
h1{
    font-size: 32px;
	font-weight: bold;
    margin: auto;
    padding: 20px;
    text-align: center;
    color:#000

}

//resume
.left-div .card,
.right-div .card {
  margin-bottom: 20px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 4px rgba(60, 59, 59, 0.25);

}
#resume{
  margin: 0px 88px;
  padding:0px  12px;
}

//contact page

.main-containt {
    display: flex;
    flex-wrap: wrap;
    gap:30px
    
   
     
  
  }
  
  .left-div {
    flex: 1;
    
  }
  .contact-detail{
    margin-top: 60px;
    font-weight: 500 !important;
    /* display: table-column-group; */
    margin-left: 199px;
    
  
  }
 .contact-detail p{
color:#000000;
font-weight:600;
font-size:large;
 }
 
  .right-div {
    flex: 1;
  }
  p.contact-note {
    opacity: 0.8;
}
.experience{
  height:50vh
}
#contact{
  margin: 0px 88px;
  padding:0px  12px;
}
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .left-div, .right-div {
      width: 100%;
    }
  }
  
//About page
.first-container {
    height: 100vh;
    width: 50%;
    display: inline-block;

}
.left-div.mt-200 {
  margin-top: 60px;
}
.second-container{
    height: 100vh;
    width: 50%;
    display: inline-block;
}
#about{

  margin: 0px 88px;
  padding:0px  12px;

}

.footer{
    // position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
//text animation 
//footer new
.footer-text a{
    color:rgb(21 76 121);

}

.container-dark{
  background-color: black;
}
.container-light{
  background-color: white;
}