@import "../styles/variable.scss";

//google font
 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,600;0,700;0,800;1,400&display=swap");
 //Navbar
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 1.9;
    
    // color: #ffffff;
}

//NAVBAR
img.logo-home{
  width: 40px;

}


// span.navbar-toggler-icon {
//   background-color: white !important;
// }
button.navbar-toggler.collapsed {
  background-color: white ;
}
button.navbar-toggler {
  background-color: white;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: #24262a !important ;
  z-index: 999;
  box-shadow: 0px 2px 4px rgba(60, 59, 59, 0.25);

  
}
a.nav-link.text-lgt.pe-4.cursor-pointer {
  color: #ffffff;
  cursor: pointer;
}
.navbar-nav .nav-link.active {
  color: #107cdb !important;
}

section {
	// place-items: center;

  background-color: #fff;


}
 .mode-toggle img{
  height:24px;
  width:24px;
  cursor: pointer;
}
.dark{
  background-color: #343540;
  color: white;
}
//Home Component
.mask{
  width: 100%;
  height:90vh;
  position: relative;
 

}
.mask::after{
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}
.into-img{
  width: 100%;
  height:90%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
#home{
  height:100%;
  width: 100%;
  
}

#home .content{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  text-align: center;
}

#home .content h1{

    font-size: $h2-font-size;
	
   
    padding: 0.6rem 0 1.5rem;
  
    color:#ffffff
}
#home .content p{

  font-size: $normal-font-size;
 font-weight: 400;
 text-transform: uppercase;

  color:#ffffff


}
#home .btn-primary{

  background-color: transparent ;
  width: 200px;
  height: 50px;
  font-size: $normal-font-size;
  font-weight: 400;
  display: block;
  margin: auto;
  border-color: $secondaryColor !important;
  
}


.btn-primary{

    background-color: $secondaryColor;
    width: 200px;
    height: 50px;
    font-size: $normal-font-size;
    font-weight: 400;
    display: block;
    margin: auto;
    border-color: $secondaryColor !important;
    
}
.btn-primary a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;

}
.btn-primary:hover {
  color: #fff;
  background-color: $secondaryColor!important;
  border-color:$secondaryColor !important;
}

//resume
.left-div .card,
.right-div .card {
  margin-bottom: 20px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 4px rgba(60, 59, 59, 0.25);

}
#resume{
  margin: 0px 88px;
  padding:0px  12px;
  height: 200vh ;
}


//contact page
.contact-container{
  align-items: center;
}
.main-containt {
    display: flex;
    flex-wrap: wrap;
    gap:30px
    
   
     
  
  }
  
  .left-div {
    flex: 1;
    
  }
  .contact-detail{
    margin-top: 60px;
    font-weight: 500 !important;
    /* display: table-column-group; */
    margin-left: 199px;
    color:#1e73be ;
    
    
  
  }
 .contact-detail p{
color:#000000;
font-weight:600;
font-size:$normal-font-size;
 }
 .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
  .right-div {
    flex: 1;
  }
  p.contact-note {
    opacity: 0.8;
}
.experience{
  height:50vh
}
#contact{
  margin: 0px 88px;
  padding:0px  12px;
}
#contact .btn-primary{
  width: 690px;
}

// .social-profile a{
//   color:#1e73be !important;
//   text-decoration:none;
// }
// .social-profile {
//   color:#1e73be !important;
//   size:300px
// }
  
  // @media only screen and (max-width: 768px) {
  //   .container {
  //     flex-direction: column;
  //   }
    
  //   .left-div, .right-div {
  //     width: 100%;
  //   }
  // }
  
//About page
#about{
  height:110vh !important;
  margin: 0px 88px;
  padding:0px  12px;
}
.about.mode{
  background-color: #000;
}
.first-container {
    height: 100vh;
    width: 50%;
    display: inline-block;

}
.left-div.mt-200 {
  margin-top: 60px;
}
.second-container{
    height: 100vh;
    width: 50%;
    display: inline-block;
}

img.profile-image{
  height: 200px;
  width: 200px;;
  
      margin: auto;
      display: flex;
      
      // border: 3px solid #cdd4b7;
      border-radius: 50%;
      
  }
  //Project Page
  #projects{
    height:100vh;
    margin: 0px 88px;
    padding:0px  12px;
  }
// .footer{
//     // position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: #f5f5f5;
//     text-align: center;
//     padding: 10px;
// }
// //text animation 
// //footer new
// .footer-text a{
//     color:rgb(21 76 121);

// }
//footer
footer{
  padding-top: 4rem;
	padding-bottom: 2rem;
  background-color: #24262a;
	text-align: center;
}
.social-profile span{
  padding:15px;

}
a {
            color: #fff;
            text-decoration: none;
  
            &:hover {
              color: #107cdb;
            }
          }
          .copyright p{
            position: relative;
    width: 100%;
   padding-top: 20px;
   color: white;
          }
// footer {
//   background-color: #333;
//   color: #fff;
//   padding: 20px;

//   .footer-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .social-profile {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       flex-wrap: wrap;
//       margin-bottom: 20px;

//       p {
//         margin-right: 20px;
//       }

//       li {
//         margin-right: 10px;
//         margin-bottom: 10px;

//         a {
//           color: #fff;
//           text-decoration: none;

//           &:hover {
//             color: #f44336;
//           }
//         }
//       }
//     }

//     .copyright {
//       text-align: center;
//     }
//   }
// }
